﻿@{
    ViewBag.Title = "Index";
}

<div ng-view></div>
@section scripts{

    <script src="~/Scripts/angular/routes/app.js"></script>
    <script src="~/Scripts/angular/controllers/controllers.js"></script>
}
